.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 0px;

  background-color: rgb(255, 255, 255);
  overflow: auto;
  outline: none;
}

.close-button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  cursor: pointer;
  margin-right: 4px;

  opacity: 0.5;

  &:hover {
    opacity: 0.75;
  }
}

.left-arrow-button {
  display: none;
}

.back-button {
  display: none;
}

.modal-top-bar {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 4px 0 14px;
}

%artist-bar {
  display: flex;
}

.artist-bar-large-screen {
  @extend %artist-bar;
}

.artist-bar-small-screen {
  @extend %artist-bar;
  display: none;
}

.artist-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.artist-identity-container {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

.artist-name {
  font-weight: 500;
  font-size: 0.95rem;
}

.artist-id {
  font-weight: 400;
  font-size: 0.8rem;
}

.image-container {
  padding: 3px 14px 14px 14px;
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  max-height: 600px;

  object-fit: cover;
}

.header {
  text-align: center;
}

.top-container {
  margin-bottom: 1rem;
  margin: 0 auto;
}

.track-metadata-box {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .modal-content {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .modal-top-bar {
    padding-left: 0;
  }

  .close-button {
    display: none;
  }

  .left-arrow-button {
    display: initial;
    background: transparent;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    padding: 0;

    & > svg {
      font-size: 30px;
    }
  }

  .back-button {
    display: initial;
    background: transparent;
    border: none;
    outline: none;
    font-size: 30px;
    padding: 0;
  }

  .modal-top-bar {
    justify-content: normal;
  }

  .artist-bar-large-screen {
    display: none;
  }

  .artist-bar-small-screen {
    display: flex;
    padding: 16px 0 0 14px;
  }

  .image-container {
    margin-top: 6px;
  }

  .image {
    max-width: none;
  }
}
