.close-button {
  position: fixed;
  background: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  color: red;

  top: 4px;
  left: 4px;
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  max-height: 600px;

  object-fit: cover;
}

.header {
  text-align: center;
}

.top-container {
  margin-bottom: 1rem;
  margin: 0 auto;
}

.track-metadata-box {
  font-size: 1.5rem;
}
